<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
      <div class="preloader-inner position-relative">
        <div class="preloader-circle"></div>
        <div class="preloader-img pere-text">
          <img src="/assets/img/logo/cma_loder.png" alt="">
        </div>
      </div>
    </div>
  </div>
  <!-- Preloader Start -->
  <header>
    <!-- Header Start -->
    <div class="header-area header_area header-transparent">
      <div class="main-header">
        <div class="header-bottom  header-sticky">
          <div class="container-fluid">
            <div class="row align-items-center">
              <!-- Logo -->
              <div class="col-xl-2 col-lg-1 col-md-1">
                <div class="logo">
                  <a href="index.html" routerLink="/main"><img src="/assets/img/logo/cma_logo_blanco_icono.png" alt=""></a>
                </div>
              </div>
              <div class="col-xl-8 col-lg-8 col-md-8">
                <!-- Main-menu -->
                <div class="main-menu f-right d-none d-lg-block">
                  <nav>
                    <ul id="navigation">
                      <li><a class="nav-link" routerLink="/main">Inicio</a></li>
                      <li><a class="nav-link" routerLink="/aboutus">Nosotros</a></li>
                      <li><a class="nav-link" routerLink="/services">Servicios</a></li>
                        <!--
                        <ul class="submenu">
                          <li><a href="blog.html">Blog</a></li>
                          <li><a href="single-blog.html">Blog Details</a></li>
                        </ul>
                    -->


                    </ul>
                  </nav>
                </div>
              </div>
              <div class="col-xl-2 col-lg-3 col-md-3">
                <div class="header-right-btn f-right d-none d-lg-block">
                  <a href="#" class="btn header-btn">CONTACTENOS</a>
                </div>
              </div>
              <!-- Mobile Menu -->
              <div class="col-12">
                <div class="mobile_menu d-block d-lg-none"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Header End -->
  </header>