<footer>
    <!-- Footer Start-->
    <div class="footer-area">
      <div class="container">
        <div class="footer-top footer-padding">
          <div class="row justify-content-between">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
              <div class="single-footer-caption mb-50">
                <div class="single-footer-caption mb-30">
                  <!-- logo -->
                  <div class="footer-logo">
                    <a href="index.html"><img src="/assets/img/logo/cma_logo_blanco_icono.png" alt=""></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6">
              <div class="single-footer-caption mb-50">
                <div class="footer-tittle">
                  <h4>Servicios</h4>
                  <ul>
                    <li><a href="#">Desarrollo Web Back-End</a></li>
                    <li><a href="#">Desarrollo Web Front-End</a></li>
                    <li><a href="#">Servicio de Seguridad de la Información</a></li>
                    <li><a href="#">Desarollo de Aplicaciones Moviles</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
              <div class="single-footer-caption mb-50">
                <div class="footer-tittle">
                  <h4>Servicio al cliente</h4>
                  <ul>
                    <li><a href="#">Contactenos</a></li>
                    <li><a href="#">Nosotros</a></li>
                    <li><a href="#">Solucitudes de empleo</a></li>
                    <li><a href="#">Politica de Privacidad</a></li>
                    <li><a href="#">Terminos y condiciones</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
              <div class="single-footer-caption mb-50">
                <div class="footer-tittle">
                  <h4><span>+51</span> 934590068</h4>
                  <ul>
                    <li><a href="#">infromes@consultingcma.com</a></li>
                  </ul>
                  <p>Jr.Las Perlas 7485, Miraflores</p>
                </div>
                <!-- footer social -->
                <div class="footer-social">
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                  <a href="#"><i class="fas fa-globe"></i></a>
                  <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-bottom">
          <div class="row">
            <div class="col-xl-12 ">
              <div class="footer-copy-right">
                <p>
                  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                  Copyright &copy;
                  <script>document.write(new Date().getFullYear());</script> Todos los derechos reservados | CMA
                   <i class="fas fa-briefcase" aria-hidden="true"></i>  <a href="https://colorlib.com"
                    target="_blank"> COMPUTER MASTERS ASSOCIATES</a>
                  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer End-->
  </footer>
  <!-- Scroll Up -->
  <div id="back-top">
    <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
  </div>